#container{
}

#mheader{
    display: block;
    border: 1px solid green;

}

#navbardiv{
    display: flex;
    border: 1px solid red;
    justify-content: space-evenly;

}

#navbardiv div{
    flex-basis: auto;
    border:  1px solid black;
}